<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
  </head>
<style>
.img-container {
    position:relative;
}
img {
    width:100%;
}
div.spacing {
          height: 20px;
}
</style>
  <body>
    <div class="container">
      <div class="spacing"></div>
      <div class="spacing"></div>


      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-xs-3">
            <img src="/images/kimhana.png" class="rounded" alt="...">
          </div>
          <div style="width: 10px;">  </div>
          <div class="col-xs-2">
            <p class="text-center" data-toggle="modal" data-target="#exampleModalCenter"><%= empNo %></p>
          </div>
          <div class="col-xs-5">
            <p class="text-center">님 좋은하루 되세요.</p>
          </div>
        </div>
      </div>
        <div class="spacing"></div>
        <div class="spacing"></div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="padding: 0px 7px;">
              <img src="/images/searchBtn.png" width="38px"/>
            </button>
          </div>
          <input type="text" class="form-control" placeholder="기업통합검색" aria-label="" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="padding: 0px 7px;">
              <img src="/images/voiceBtn.png" width="38px"/>
            </button>
          </div>
        </div>
        <div class="table-responsive">
        <table class="table" style="table-layout: fixed;">
          <tbody>
            <tr>
              <td>
                <div class="img-container">
                  <a href="#"><img src="/images/home_1.png"></a>
                </div>
                <p class="text-center">공지사항</p>
              </td>
              <td>
                <div class="img-container">
                  <a href="#"><img src="/images/home_2.png"></a>
                </div>
                <p class="text-center">명함촬영</p>
              </td>
              <td>
                <div class="img-container">
                  <a href="#"><img src="/images/home_3.png"></a>
                </div>
                <p class="text-center">키맨관리</p>
              </td>
            </tr>
            <tr>
              <td>
                <div class="img-container">
                  <a href="/client"><img src="/images/home_4.png"></a>
                </div>
                <p class="text-center">기업검색</p>
              </td>
              <td>
                <div class="img-container">
                  <a href="#"><img src="/images/home_5.png"></a>
                </div>
                <p class="text-center">상담이력</p>
              </td>
              <td>
                <div class="img-container">
                  <a href="#"><img src="/images/home_6.png"></a>
                </div>
                <p class="text-center">제안서</p>
              </td>
            </tr>
            <tr>
              <td>
                <div class="img-container">
                  <a href="#"><img src="/images/home_7.png"></a>
                </div>
                <p class="text-center">지도</p>
              </td>
              <td>
                <div class="img-container">
                  <a href="#"><img src="/images/home_8.png"></a>
                </div>
                <p class="text-center">명함조회</p>
              </td>
              <td>
                <div class="img-container">
                  <a href="#"><img src="/images/home_9.png"></a>
                </div>
                <p class="text-center">오늘 운세</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalLongTitle">접속자 정보</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <td>행번</td>
                    <td id="empno"><%= empNo %></td>
                  </tr>
                  <tr>
                    <td>이름</td>
                    <td id="username"><%= empNm %></td>
                  </tr>
                  <tr>
                    <td>점코드</td>
                    <td id="branchno"><%= brNo %></td>
                  </tr>
                  <tr>
                    <td>점명</td>
                    <td id="branchname"><%= brNm %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="container">
              <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">닫기</button>
            </div>
            <div class="spacing"></div>
          </div>
        </div>
      </div>
      <!-- end of madal-->
    </div>
    
  </body>
</html>