<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Seach client</title>
  </head>

<style>
    div.spacing {
        height: 30px;
    }
</style>
  <body>
    <div class="spacing"></div>
    <div class="container">
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="사업자 번호" aria-label="" aria-describedby="button-addon2" id="bizno" value="<%= bzno %>">
      </div>
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="고객 번호" aria-label="" aria-describedby="button-addon2" id="custno" value="">
      </div>
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="고객 명" aria-label="" aria-describedby="button-addon2" id="custnm" value="<%= custnm =>">
      </div>
    </div>
    <div style="width: 50%; margin: auto;">
      <button type="button" class="btn btn-outline-success btn-sm btn-block" id="searchBtn">조회</button>
    </div>
    <div class="spacing" id="test2"></div>

    <div class="container" style="width:90%">
      <div class="table-responsive" id="itemContainer">
        
  <!--      
        <div class="item">
          <table class="table table-bordered table-dark table-sm" style="table-layout: fixed;" id="test" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <tbody class="infoBody">
              <tr>
                <td>
                  <center>사업자 번호</center>
                </td>
                <td>dsa</td>
              </tr>
              <tr>
                <td>
                  <center>고객번호</center>
                </td>
                <td>das2</td>
              </tr>
              <tr>
                <td>
                  <center>고객명</center>
                </td>
                <td>dsa3</td>
              </tr>
              <tr>
                <td>
                  <center>주소</center>
                </td>
                <td>dsa4</td>
              </tr>
            </tbody>
          </table>
          <div class="collapse" id="collapseExample" style="width: 50%; margin: auto;">
            <button type="button" class="btn btn-outline-success btn-sm btn-block selectBtn">선택</button>
          </div>
        </div>
      -->

        </div>
        
      <div class="spacing">
      </div>
      <div class="container"></div>
    </div>


    <script>
      $(function(){

      });
      
      $(document).on("click", "#searchBtn", function(){
  
        jQuery.get('./testData.json', function(data) {
          const len = JSON.parse(data).length;
          const parsed = JSON.parse(data);
  
          $('#itemContainer').empty();
          
  
          $.each(parsed, function(i, item ) {
            
            $('#itemContainer').append(
            "<div class='item'>\
            <table class='table table-bordered table-dark table-sm' style='table-layout: fixed; margin-bottom:4px;' data-toggle='collapse' href='#collapseExample"+i+"' role='button' aria-expanded='false' aria-controls='collapseExample"+i+"'>\
            <tbody class='infoBody'>\
              <tr>\
                <td>\
                  <center>사업자 번호</center>\
                </td>\
                <td>"+item.bNo+"</td>\
              </tr>\
              <tr>\
                <td>\
                  <center>고객번호</center>\
                </td>\
                <td>"+item.cNo+"</td>\
              </tr>\
              <tr>\
                <td>\
                  <center>고객명</center>\
                </td>\
                <td>"+item.cName+"</td>\
              </tr>\
              <tr>\
                <td>\
                  <center>주소</center>\
                </td>\
                <td>"+item.addr+"</td>\
              </tr>\
              <tr id='comsno' data-value='"+item.comsCustNo+"' style='display:none;'></tr>\
            </tbody>\
          </table>\
          <div class='collapse' id='collapseExample"+i+"' style='width: 50%; margin: auto;'>\
            <button type='button' class='btn btn-outline-success btn-sm btn-block selectBtn' style='margin-bottom: 14px'>선택</button>\
          </div>\
          </div>"
          );
  
          });
  
          $(".selectBtn").on("click", function(){
              const infoBody = $(this).parent().parent().find('.infoBody');
              let trs = infoBody.find('tr');
              //console.log(trs);
              trs.each(function(index, tr){
                console.log($(tr).find('td').eq(1).text()); //data td
              });
          });
          
  
        });
      });


      
      
     </script>
  </body>
</html>